html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(100vh - 100px);
  font-family: 'DM Sans', sans-serif;
  margin: auto;
}

h2{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin: 0;
  padding-top: 20px;
}

h3{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

h4{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding-top: 15px;
  line-height: 1.25em;
}

p{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25em;
}

.p2{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25em;
  margin: 0;
}

button{
  background-color: #1E90FF;
  border-radius: 3px;
  padding: 15px;
  font-weight: 400;
  font-size: 18px;
  color: white;
  border: 0px;
  height: 50px;
  text-align: center;
  transition: 0.3s;
}

button:hover{
  background-color: #1873CC;
}

a{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.nav{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.nav--wrapper{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--links{
  display: grid;
  grid-template-columns: 250px;
  justify-items: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.nav a{
  color: black;
  text-decoration: none;
}

.nav a:before {
    content:"• ";
    color: white;
}

.nav a:hover{
  color: black;
  text-decoration: none;
  font-weight: 700;
  transition: 0.25s;
}

.nav a:hover::before{
  content:"• ";
  color: #1E90FF;
}

/* HAM NAV */

#hamnav {
  width: 100%;
  /* Optional */
}

/* (B) HORIZONTAL MENU ITEMS HIDDEN*/
#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  display: none;
}

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* (C) HIDE HORIZONTAL MENU */
#hamnav label, #hamburger { display: none; }


@media (max-width: 875px) {
  .nav{
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    padding-top: 45px;
    padding-bottom: 25px;
  }

  .nav--logo img{
    width: 125px;
  }

  .nav--wrapper{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav--links{
    display: none;
    grid-template-columns: 250px;
    justify-items: center;
    justify-content: end;
    align-items: center;
  }

  .nav a{
    color: black;
    text-decoration: none;
  }

  .nav a:before {
      content:"• ";
      color: white;
  }

  .nav a:hover{
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s;
  }

  .nav a:hover::before{
    content:"• ";
  }

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: none;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: flex;
    justify-content: flex-end;
    color: #1E90FF;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: -45px;
  }

  #hamnav label svg {
    height: 30px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }

  #hamitems a:hover {
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s;
  }

}

.hero{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 100px;
  padding-top: 30px;
}

.hero--wrapper{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero--copy{
  padding-left: 50px;
  padding-right: 25px;
}

.hero--copy p{
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero--copy__h1__main{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: black;
  margin: 0;
  line-height: 1.15;
}


.hero--image{
  width: 100%;
}

.hero--image img{
  max-width: 100%;
}

@media (max-width: 875px) {
  .hero{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 75px;
    padding-top: 25px;
  }

  .hero--wrapper{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .hero--copy{
    padding-left: 0px;
    padding-right: 0px;
  }

  .hero--copy p{
    margin: 0;
    padding-top: 15px;
    text-align: center;
  }

  .hero--copy__h1__main{
    text-align: center;
  }

  .hero--image{
    width: 100%;
  }

  .hero--image img{
    max-width: 100%;
    padding-bottom: 25px;
  }
}

@media (max-width: 450px) {
  .hero--copy__h1__main{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: black;
    margin: 0;
  }

 .hero--copy__h1__alt{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #1E90FF;
  margin: 0;
 }
}

.subhero{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 75px;
}

.subhero h3{
  padding-top: 13px;
}

.subhero--wrapper{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subhero--wrapper img{
  width: 100%;
}

.subhero--wrapper__point{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.subhero--wrapper__point svg{
  height: 30px;
  margin: 15px;
  fill: #71BF43;
}

.subhero--wrapper__point h2{
  text-align: left;
  padding-top: 0px;
}

@media (max-width: 875px) {
  .subhero{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 50px;
  }

  .subhero--wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .subhero--wrapper__point{
    order: 0;
    width: 50%;
  }

  .subhero--wrapper__point img{
    width: 80%;
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

.products{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F8F9FA;
}

.products--wrapper{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.products--feature{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 50px;
  align-items: center;
}

.products--feature__image{
  width: 35%;
}

.products--feature__image img{
  max-width: 100%;
}

.products--feature__copy{
  width: 35%;
  padding: 50px;
}

.products--standard__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.products--standard{
  width: 35%;
  padding: 40px;
  margin: 25px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #E9ECEF;
}

.products--standard:nth-child(1){
  padding: 40px;
  margin: 25px;
}

.products--standard svg{
  height: 30px;
  fill: #1E90FF;
}

.products--standard:hover{
  box-shadow: 0px 0px 25px #DEE2E6;
}

@media (max-width: 875px) {
  .products{
    padding-top: 65px;
    padding-bottom: 75px;
  }

  .products--header h2{
    order: -1;
    margin-bottom: 25px;
  }

  .products--feature{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  }

  .products--feature__image{
    width: 100%;
  }

  .products--feature__image img{
    max-width: 100%;
    padding-left: 0px;
  }

  .products--feature__copy{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .products--standard__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .products--standard{
    width: 100%;
    padding: 30px;
    margin: 25px;
    margin-left: 0px;
  }

  .products--standard:nth-child(1){
    padding: 30px;
    margin: 25px;
    margin-left: 0px;
  }
}

.team{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.team--wrapper{
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px,1fr))
}

.team--wrapper img{
  padding: 20px;
  padding-bottom: 40px;
}

.team--wrapper h2{
  margin-top: -45px;
}

.team--photo{
  position: relative;
  z-index: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team--infocircle__1 {
  background-color: #1E90FF;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  margin-bottom: 40px;
  color: white;
  opacity: 0%;
  z-index: 50;
  position: absolute;
  top: 0;
  left: auto;
}

.team--infocircle__2 {
  background-color: #218380;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  margin-bottom: 40px;
  color: white;
  opacity: 0%;
  z-index: 50;
  position: absolute;
  top: 0;
  left: auto;
}

.team--infocircle__3 {
  background-color: #FF6847;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  margin-bottom: 40px;
  color: white;
  opacity: 0%;
  z-index: 50;
  position: absolute;
  top: 0;
  left: auto;
}

.team--infocircle__1:hover {
  opacity: 85%;
  z-index: 50;
  transition: 0.3s;
}

.team--infocircle__2:hover {
  opacity: 85%;
  z-index: 50;
  transition: 0.3s;
}

.team--infocircle__3:hover {
  opacity: 85%;
  z-index: 50;
  transition: 0.3s;
}

@media (max-width: 875px) {
  .team{
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .team--wrapper img{
    padding: 20px;
    padding-bottom: 20px;
  }

  .team--wrapper h2{
    margin-top: -45px;
    padding-bottom: 100px;
  }
}

.careers{
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}

.careers--wrapper{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.careers--wrapper img{
  width: 100%;
}

.careers--copy{
  width: 35%;
}

.careers--copy h2{
  padding-left: 15px;
  padding-right: 15px;
}

.careers--list{
  width: 55%;
  padding-left: 15px;
  padding-right: 15px;
}

.careers--list__role{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.careers--list__role svg{
  height: 30px;
  margin: 15px;
  fill: #71BF43;
}

@media (max-width: 875px) {
  .careers{
    padding-top: 75px;
    padding-bottom: 85px;
  }

  .careers h2{
    padding: 0;
  }

  .careers--wrapper{
    padding: 0px;
  }

  .careers--copy{
    width: 100%;
    padding-bottom: 25px;
  }

  .careers--list {
    width: 100%;
    padding: 0px;
  }

  .careers--list__role img{
    width: 80%;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .careers--copy__logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .careers--copy__logos img{
    padding: 20px;
    padding-left: 0;
    width: 40%;
  }

}

.footer{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  background-color: #1E90FF;
}

.footer--wrapper{
  max-width: 1200px;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer--contact{
  display: grid;
  grid-template-columns: 115px 245px 245px;
  justify-items: center;
  justify-content: end;
  align-items: center;
}

.footer--links{
  display: grid;
  grid-template-columns: 135px 115px;
  justify-items: center;
  justify-content: end;
  align-items: center;
}

.footer a{
  color: black;
  text-decoration: none;
}

.footer a:before {
    content:"• ";
    color: #1E90FF;
}

.footer a:hover{
  color: black;
  text-decoration: none;
  font-weight: 700;
  transition: 0.25s;
}

.footer a:hover::before{
  content:"• ";
  color: white;
}

@media (max-width: 875px) {
  .footer--wrapper{
    max-width: 1200px;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer--contact{
    display: grid;
    grid-template-columns: 65px 215px 215px;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: center;
  }

  .footer--links{
    display: inline-grid;
    grid-template-columns: 135px 135px;
    justify-items: center;
    justify-content: end;
    align-items: center;
  }
}

@media (max-width: 825px) {
  .footer--wrapper{
    max-width: 1200px;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer--contact{
    display: grid;
    grid-template-columns: 65px 215px 215px;
    justify-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer--links{
    display: grid;
    grid-template-columns: 135px 115px;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
}
